.navigationContainer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 8px 15px;
  margin-bottom: 25px;

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 8px 15px;
    margin-bottom: 10px;
  }
}
.navLink {
  padding-right: 45px;
  cursor: pointer;
  @media screen and (max-width: 400px) {
    font-size: 20px;
    color: #F2F597;
  }
}

.navLinks {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 700px) {
    width: 50%;
    height: 100%;
  }
}

a {
  text-decoration: none;
  color: #F2F597;
  text-shadow: #492E87;
}

a:hover {
  color: rgba(242, 245, 151, 0.7);
  text-shadow: #492E87;
}
